@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  border-radius: 1rem;
}

.product-number {
  height: 2rem;
  width: 2.5rem;
}

.right-part {
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(235, 135, 233, 0.272);
}

input[type="text"] {
  border-radius: 1rem;
  background: transparent;
  background-color: aliceblue !important;
}
.button-round {
  border-radius: 0 1rem 1rem 0;
}

@media screen and (max-width: 400px) {
  .me-custom-0 {
    margin-left: 0;
  }
}
